$dataBorder: 1px solid #e8e8e8; //一般数据边框
$dataLineHoverBackground: #e6f7ff; //一般table数据hover状态底色
$headerBackground: #eef1f6; //一般table数据头部背景颜色
$contentBackground: #fff; //默认内容区背景颜色
$containerBackground: #f0f2f5; //container背景色
$closeIconColor: #bfcbd9 #20a0ff !default; //关闭按钮颜色
$linkColor: #93999F #03A4FF !default; //link颜色 hover
$navLeftColor: #001529 #1f2d3d #48576a #bfcbd9 #fff !default; //1级颜色 2二级颜色 3hover颜色 4字体颜色 5active字体颜色
$navTopColor: #475669 #1890ff !default; //1默认颜色 2hover/active颜色
$menuWidth: 210;
*{}
